<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>requirements.txt : /home/tshrinivasan/tamilwikieditstats/requirements.txt : Editor : tshrinivasan : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="requirements.txt : /home/tshrinivasan/tamilwikieditstats/requirements.txt : Editor : tshrinivasan : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="/static/CACHE/css/fb81b1b7ab1e.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/f2e4190bb326.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var urls = {};
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "6661bd1ed645a30b38d6a88fe9679341";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/a1cfb7dec2b5.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/a614bec3b8ec.js"></script>
        
    <script type="text/javascript">
        $(function() {
            $.extend(urls, {
                save: '/user/tshrinivasan/files/home/tshrinivasan/tamilwikieditstats/requirements.txt',
                check_hash: '/user/tshrinivasan/files/home/tshrinivasan/tamilwikieditstats/requirements.txt',
                run: '/user/tshrinivasan/files/home/tshrinivasan/tamilwikieditstats/requirements.txt' + '?run',
                update_editor_mode_preference: '/user/tshrinivasan/account/update_editor_mode_preference',

            });
            $.extend(Anywhere.urls, urls);
            var filename = "/home/tshrinivasan/tamilwikieditstats/requirements.txt";
            var hash = "aecfda16c576f2bbb15bb3caa48098eb";
            Anywhere.Editor.InitialiseAce(ace, urls, filename, hash);
            Anywhere.Editor.resetEditorState({pyflakes_warnings: [] });
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");

            Anywhere.WebAppControl.initialize();
        });
    </script>

        

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">



    </head>

     <body>
        
    <div class="navbar">
        <div class="navbar-inner">
            <div id="id_internal_nav_bar_container" class="container">
                <div class="row">
                    <div class="span4">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/"><img id="id_logo" src="/static/anywhere/images/logo-234x35.png" height="35" title="PythonAnywhere logo" alt="PythonAnywhere logo" /></a>
                    </div>
                    <div class="nav-collapse span8 right_hand_links">
                        <div class="row">
                            <ul id="id_header_links" class="nav ">
                                <li><a id="id_feedback_link" class='feedback_link' href="">Send feedback</a></li>
                                <li><a id="id_forums_link" href="/forums/">Forums</a></li>
                                <li><a href="/wiki/" id="id_help_link">Help</a></li>
                                <li><a href="http://blog.pythonanywhere.com/" id="id_blog_link">Blog</a></li>
                                
                                
                                    <li><a href="/user/tshrinivasan/" id="id_dashboard_link">Dashboard</a></li>
                                    <li><a href="/user/tshrinivasan/account/" id="id_account_link">Account</a></li>
                                    <li><a href="/logout" id="id_logout_link">Log out</a></li>
                                
                            </ul>
                        </div>

                        
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    



        
    


        

<div>

    <div id="id_editor_toolbar">

      <span id="id_breadcrumbs_div">
            
                <a class="breadcrumbs_link" href="/user/tshrinivasan/files/">/</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/tshrinivasan/files/home">home</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/tshrinivasan/files/home/tshrinivasan">tshrinivasan</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/tshrinivasan/files/home/tshrinivasan/tamilwikieditstats">tamilwikieditstats</a> &gt;
            
        <span id="id_file_name">requirements.txt</span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden">*</span>
        </span>
      </span>
      <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
      <div id="id_editor_buttons_right" class="form-inline">

          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts</a></span>
          <select id="id_keybinding_mode_select" class="input-small">
              <option value="normal">Normal</option>
              <option value="vim">Vim</option>
          </select>
          <button class="btn" id="id_save">Save</button>
          <span id="id_save_error" class="error_message pa_hidden">There was an error saving</span>
          

          
          
            <form class="reload_web_app" style="display: inline" method="POST" action="/user/tshrinivasan/webapps/tshrinivasan.pythonanywhere.com/reload">
                <button class="btn" type="submit">
                    <img style="height: 16px; position: relative; bottom: -3px;" src="/static/glyphicons/glyphicons_081_refresh.png">
                    <b>Reload tshrinivasan.pythonanywhere.com</b>
                </button>
                <img style="display: none;" class="spinner" src="/static/anywhere/images/spinner-small.gif" />
                <span style="display: none;" class="error_message">
                    Sorry, there was a problem.  Please try again in a minute, and
                    <a href="" class="feedback_link">send us feedback</a> if it keeps happening.
                </span>
            </form>
          
          

        </div>
        <div class="clear"></div>
    </div>

    <div id="id_editor">Flask==0.10.1
beautifulsoup4==4.3.2
</div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
        <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
        <div class="dialog_buttons">
            <button class="btn" id="id_go_to_line_dialog_ok_button">Go</button>
            <button class="btn" id="id_go_to_line_dialog_close_button">Close</button>
        </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
        <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
        <div class="dialog_buttons">
            <button id="id_cancel_save" class="btn">Cancel</button>
            <button id="id_force_save" class="btn btn-danger">Force Save</button>
        </div>
    </div>



        
    <div id="id_footer" class="container">

        <footer id="id_copyright_div">
            <p>
                Copyright &copy; 2015 <a href="/about/company_details/">PythonAnywhere LLP</a>
                &mdash;
                <a href="/terms/">Terms</a>
                &mdash;
                <a href="/privacy/">Privacy</a><br/>
                "Python" is a registered trademark of the Python Software Foundation.
            </p>
        </footer>

    </div>


        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18014859-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        


    </body>
</html>
